
[submodule "modules/cve_correlation/db_creation_src/SQLiteCpp"]
	path = modules/cve_correlation/db_creation_src/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "modules/cve_correlation/db_creation_src/json"]
	path = modules/cve_correlation/db_creation_src/json
	url = https://github.com/nlohmann/json
